<div *ngIf="!showResult">
    <h2>{{ questions[currentQuestionIndex].question }}</h2>
    <p>Time left: {{ timer }} seconds</p>
    
    <ul>
      <li 
        *ngFor="let option of questions[currentQuestionIndex].options" 
        (click)="selectAnswer(option)"
        style="cursor: pointer; padding: 10px; border: 1px solid #ccc; margin: 5px 0; border-radius: 5px;"
      >
        {{ option }}
      </li>
    </ul>
  </div>
  
  <div *ngIf="showResult">
    <h2>Quiz Completed!join in</h2>
    <p>Your Score: {{ score }} / {{ questions.length }}</p>
  </div>
  